# Virtual environment
appvenv/

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Log files
logs/
*.log

# Database files
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
